




.bigcontainerT {
  width: 100%;
  height: 100%;

}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  mask-image: radial-gradient(
                  white 0%,
                  white 30%,
                  transparent 80%,
                  transparent
  );
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
                    hsl(180, 100%, 80%),
                    hsl(180, 100%, 80%) 10%,
                    hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;


  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
                          #{random(100) + vw},
                          #{$startPositionY + vh},
                          0
          );
        }

        to {
          transform: translate3d(
                          #{random(100) + vw},
                          #{- $startPositionY - random(30) + vh},
                          0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

.message {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  font-family: "Josefin Slab", serif;
  line-height: 27px;
  font-size: 18px;
  text-align: right;
  pointer-events: none;
  animation: message-frames 1.5s ease 5s forwards;
  opacity: 0;

  @keyframes message-frames {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}


@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

#dareToSingT {
  font-size: 42px;
  line-height: 60px;

     /*text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  padding: 4px;

}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
        text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
          0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

//button delete
$b:#7b2291;
$bl: #1f00ff;

#bod2{
  display:flex;
  width:100%;


  font-family:"Source Code Pro";
  svg{
    position:absolute;
    width:0;
    height:0;
  }
  .btn{
    text-transform:uppercase;
    letter-spacing:5px;
    padding:20px 15px;
    transform-origin:100% 50%;
    color:#fff;
    position:relative;
    background:$b;
    border-radius:75px;

    span{
      transition:0.2s ease-in-out;
    }
    &:before{
      content:'';
      position:absolute;
      width:100%;
      height:100%;
      background:$b;
      left:0;
      top:0;
      border-radius:75px;
      z-index:-1;
      transition-delay:1s;
      transition:0.4s ease-in-out;
    }
    div{
      width:100%;
      height:400%;
      position:absolute;
      left:0;
      bottom:0;
      z-index:-2;
      filter:url("#goo");
      &:after{
        content:'';
        position:absolute;
        width:100%;
        height:25%;
        left:0;
        bottom:0;
        background:$b;
      }
      &:before{
        content:'';
        position:absolute;
        width:50px;
        height:50px;
        left:0px;
        bottom:0px;
        border-radius:100%;
        background:$b;
      }
    }
    &.loading{
      animation:flick 7s ease-in-out 1 forwards;
      &:before{
        border-radius:0px;
        box-shadow:inset 0 0 0 3px $b;
        transition-delay:1.3s;
        animation:loading 5s ease-in-out 1 forwards;
        animation-delay:1.5s;
        box-sizing:border-box;
        @keyframes loading{
          0%{
            background:repeating-linear-gradient(45deg, $b, $b 5px, #fff 5px, #fff 10px);
            background-position:-500px 50%;
            background-size:925%;
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            padding:20px 40px;
          }
          97.5%{
            background:repeating-linear-gradient(45deg, $b, $b 5px, #fff 5px, #fff 10px);
            background-position:-900px 50%;
            background-size:925%;
            box-shadow:inset 0 0 0 3px $b;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            content:'';
            color:$bl;
            padding:20px 40px;
            z-index:-1;
          }
          100%{
            background:#fff;
            background-position:-900px 50%;
            background-size:925%;
            box-shadow:inset 0 0 0 3px $bl;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            content:'COMPLETE!  ';
            color:$bl;
            padding:20px 33px;
            font-weight:900;
            z-index:9;
          }
        }

      }
      div{
        &:before{
          animation:plop 1.75s ease-out forwards;
          @keyframes plop{
            0%{
              transform:translateX(0px) translateY(0px);
            }
            40%{
              transform:translateX(0px) translateY(0px);
            }
            70%{
              transform:translateX(100px) translateY(-150px);
              background:$b;
            }
            90%{
              transform:translateX(200px) translateY(0px);
              opacity:1;
            }
            100%{
              transform:translateX(200px) translateY(0px);
              opacity:0;
            }
          }
        }
      }
      span{
        animation:slide 1s ease-in-out 1 forwards;
        transition-delay:6.75s;
        color:$bl;

      }
      @keyframes flick{
        0%{
          transform:rotate(0deg)
        }
        10.5%{
          transform:rotate(-15deg)
        }
        12%{
          transform:rotate(15deg);
        }
        13%{
          transform:rotate(0deg);
        }
        21%{
          transform:rotate(0deg);
          padding-left:60px;
          padding-right:60px;
        }
        97.5%{
          transform:rotate(0deg);
          padding-left:40px;
          padding-right:80px;
        }
        100%{
          transform:rotate(0deg);
          padding-left:40px;
          padding-right:40px;
        }
      }
    }
    span{
      display:inline-block;
      @for $i from 1 through 100{
        &:nth-of-type(#{$i}){
          animation-delay:#{$i/70}s;
        }
      }
      @keyframes slide{
        0%{
          transform:translateX(0);
        }
        75%{
          transform:translateX(-20px) rotate(-5deg);
        }
        90%{
          transform:translateX(2px) rotate(1deg);
        }
        100%{
          transform:translateX(0);
        }
      }
    }
  }
}
